.homeContainer{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
}


/* Header.module.css */
/* ... (otros estilos) */
.featuredSection {
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
  
  .featuredItem {

  margin: 20px;
  }
  
  .featuredImage {
    border: 1px solid #333;
    width: 300px; /* Fija el ancho de la imagen en 200px */
    height: auto;
  }
  
  /* ... (otros estilos) */
  

  /* Home.module.css */

.banner {
    background-color: #333; /* Cambié el color de fondo a oscuro */
    color: #fff; /* Cambié el color del texto a claro */
    padding: 20px;
    margin-top: 20px;
    text-align: center;

  }
  
  .banner p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .banner form {
    display: flex;
    flex-direction: column;
    margin: 60px auto;
    width:60%;
  }
  .containerForm{
    width: 100%;
    background: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
  }
  .banner label {
    font-size: 16px;
    margin-bottom: 8px;
  }
  
  .banner input {
    margin-left: 10px;
    border: none;
    background: none;
    width: 100%;
    height: 20px;
 
    

  }
  
  .banner button {

    color: #333;
    padding: 10px;
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 20px;
    font-size: 24px;
    transition: .3s all;
  }
  
  .banner button:hover {
    transform: scale(1.3);
  }
  