/* Header.module.css */
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background:white;
}

.customCarousel {
  margin: 200px auto;
  width: 100%; /* Ajusta el ancho del Carousel al 70% del contenedor */
  max-height: 600px; /* Establece la altura máxima del Carousel */
  overflow: hidden; /* Oculta cualquier contenido que exceda la altura máxima */
}

.image {
  margin: 0 auto;
  width: 1000px; /* Ajusta el ancho de la imagen al 100% del contenedor */
  height: auto; /* Establece la altura automática para mantener la proporción */
  border-radius: 8px; /* Agrega bordes redondeados a las imágenes */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agrega una sutil sombra a las imágenes */
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%; /* Ajusta el ancho de los controles de navegación */
  top: 50%; /* Coloca los controles en el 50% de la altura del Carousel */
  transform: translateY(-50%); /* Centra verticalmente los controles */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.7); /* Cambia el color de fondo de los íconos de navegación */
  border-radius: 50%; /* Agrega bordes redondeados a los íconos de navegación */
}

.carousel-control-prev-icon::before,
.carousel-control-next-icon::before {
  color: white; /* Cambia el color de los íconos de navegación */
}

.navbar {
  background-color: #343a40;
  width: 100%;
  margin: 0;
 /* Cambia el color de fondo de la barra de navegación */
}
/* Header.module.css */
/* Header.module.css */
.customNavbar {
  width: 100%;
  display: flex;
  position: fixed;
  height: 80px;
  top: 0;
  z-index: 100;
  left: 0;
  justify-content: space-around;
  align-items: center;
  background-color: #343a40; /* Color de fondo de la barra de navegación */
  padding: 10px 20px; /* Ajusta el relleno según sea necesario */
}

.logo {


  flex:1;
}
.logo img{
  width: 70px;
  
}
.searchBar {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 30px;
  width: 50%;
}

.searchInput {
  width: 100%; /* Ancho de la barra de búsqueda */
  padding: 10px;
  border: none;

  border-radius: 20px;
}

.searchButton {
  background-color: transparent;
  border: none;
  color: #333;
  cursor: pointer;
  font-size: 25px;
  margin:5px; /* Espacio entre la barra de búsqueda y el botón */
}

.navOptions {
  display: flex;
  flex: 1;
  justify-content: flex-end;
 /* Espacio entre las opciones de navegación */
  transition: color 0.3s ease; 
}
.navOptions .iconFontAwesome{
  font-size: 24px;
}

.navOptions a {
  text-decoration: none;
  color: rgb(138, 138, 138);
  font-weight: bold;
  font-size: 14px;
  /* Efecto de transición en el color */
  display: flex;
  flex-direction: column;
}

.navOptions a:hover {
  color: #61dafb; /* Color al pasar el mouse sobre las opciones */
  scale: 1.1;
}
.columnIcon{
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.columnIcon:hover{
  color: #61dafb; 
  scale: 1.1;
}


.navigationList {
  list-style: none;
  display: flex;
  margin: 80px 0;
  padding: 10px;
  width: 100%;
  background: #343a40;
  justify-content: center;
  border-top: 1px solid #999;
  position: fixed;
  left: 0px;
  z-index: 1000;
}

.navigationList li {
  margin: 0 15px;
}

.navigationList a {
  color:rgb(138, 138, 138);; /* Cambia el color del texto */
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  transition:  0.3s all; /* Efecto de transición en el color */
}

.navigationList a:hover {
  color: #61dafb; /* Cambia el color al pasar el mouse sobre las opciones */
  scale: 1.2;
}